@charset "UTF-8";
* {box-sizing: border-box;}
div, header, footer, section {
    float: left;
    display: block;
}
p, h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
}
nav {
    width: 100%;
    height: 36px;
    background-color: #333;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}
.innerNav {
    float: none;
    width: 90%;
    margin: auto;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    width: 120px;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav li a {
    text-decoration: none;
    width: 100%;
    height: 36px;
    padding: 10px;
    color: #fff;
}

.wrapper {
     background-color: #31ADE8;
     background-image: url("..//img/creampaper.png");

}

.topImage{
    background-image: url("..//img/classImage1.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
    background-color: #fc9502;
    background-blend-mode: overlay;
    width: 100%;
    height: 400px;




}

.topImage p{
    z-index: 30;
    margin-top:100px;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
    font-size: 5em;


}

.textblocks {
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    padding: 5px;
    float:left;
    width: 75%;
    margin-left: 10%;



}

.textblocks span{
    font-family: 'Rock Salt', cursive;
    font-size:2em;
    display: block;
    text-align: left;
    color: #fc9502;
    padding:20px;
    width: 40%;
    background-color: #ffff;
    border-radius: 0px 50px 0px 0px
}
.textblocks span:hover{
    color: #31ADE8;
}

.textblocks p{

    font-family: 'Roboto', sans-serif;
}

.question {
    background-image: url("..//img/YoungFuturesLogo.png");

    background-repeat: repeat;
    background-position:top;
    background-size:contain;
    background-color: #31ADE8;
    background-blend-mode: overlay;
    color: #444;
    cursor: pointer;
    padding: 0px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
    margin-bottom:0px;
    margin-left: 0px;

}


.question.active, .question:hover {
    background-color: #308fe8;
}


.answer {
    padding: 0 18px;
    margin: 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.9s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
    font-family: 'Roboto', sans-serif;
}

.answer.show {
    opacity: 1;
    max-height: 3000px;
}
