@charset "UTF-8";
* {
  box-sizing: border-box;
}
div,
header,
nav,
footer,
section {
  float: left;
  display: block;
}
body {
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Slab", serif;
}
img {
  width: 100%;
  height: auto;
}

a:link, a:visited{
    text-decoration: none;
}
header {
  width: 100%;
  height: 144px;
  padding: 5px;
  margin: 0px;
  position: relative;
  z-index: 30;
}
.location {
  width: 33%;
  height: 100px;
}
.logo {
  width: 33%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 500px;
  z-index: 40;
}
.logo img {
  display: block;
  width: 300px;
}
.social {
  width: 33%;
  height: 100px;
}
nav {
  width: 100%;
  height: 36px;
  background-color: #31ade8;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}
.innerNav {
  width: 100%;
  height: auto;
  margin: auto;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}
nav li {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  text-align: center;
}
nav li a {
  display: block;
  text-decoration: none;
  width: 120px;
  height: 36px;
  padding: 10px;
  color: #333;
}
nav li a:hover {
  background-color: #333;
  color: #fff;
}
.Aboutwrapper {
     background-color: #31ADE8;
     background-image: url("..//img/creampaper.png");

}

.topImage{
    background-image: url("..//img/classImage1.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
    background-color: #fc9502;
    background-blend-mode: overlay;
    width: 100%;
    height: 400px;

}

.CTA{
    display:block;
    float: left;
    max-width:100%;
    padding: 10px;
    background-color: white;
    margin-left: 10%;

}

.CTAChild{
    font-family: 'Roboto Slab', serif;



}
#CTALeft {
    width: 25%;
    margin:10px;
}
#LeftTop {
    background-image: url("..//img/YoungFuturesLogo.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-color: #31ADE8;
    background-blend-mode: overlay;
    height: 200px;
    width: 300px;
    text-align: center;
    background-position: center;
    margin: 10px;
    transition: 0.9s ease-in-out;


}


#leftBottom{
    background-image: url("..//img/Yf_OurStoryCTA.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #31ADE8;
    background-blend-mode: overlay;
    height: 200px;
    width: 300px;
    text-align: right;
    background-position: center;
    margin: 10px;


}


#LeftTop span{
    display: block;
    color: white;
    font-size:3em;
    text-align: right;
    padding-top: 100px;
    padding-right: 50px;
    -webkit-transition: color 800ms ease-out;
    -moz-transition:color 800ms  ease-out;
    -o-transition: color 800ms  ease-out;
    transition: color 800ms  ease-out;

}
#LeftTop span:hover {
    color: #e86200;
    cursor: pointer;

}

#leftBottom span{
    display: block;
    color: white;
    font-size:3em;
    text-align: right;
    padding-top: 75px;
    padding-right: 40px;
    -webkit-transition: color 800ms ease-out;
    -moz-transition:color 800ms ease-out;
    -o-transition: color 800ms ease-out;
    transition: color 800ms ease-out;
}



#leftBottom span:hover {
    color: #e86200;
    cursor: pointer;

}


#CTACenter{
    background-image: url("..//img/classImage1.jpg");
    background-repeat: no-repeat;
    background-position:top;
    background-size:cover;
    background-color: #fc9502;
    background-blend-mode: overlay;
    width: 350px;
    height: 425px;
    margin: 20px;
    display: block;
    float: left;

}

#CTACenter p{
    display: block;
    color: white;
    font-size:3em;
    text-align: center;
    padding-top: 75px;
    padding-right: 40px;


}

#CTACenter p:hover {
    color: #31ADE8;
    cursor: pointer;
    -webkit-transition: color 800ms ease-out;
    -moz-transition:color 800ms ease-out;
    -o-transition: color 800ms ease-out;
    transition: color 800ms ease-out;


}


#CTARight {
    background-image: url("..//img/Yf-VolCTA.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #31ADE8;
    background-blend-mode: overlay;
    height: 425px;
    width: 300px;
    text-align: right;
    background-position: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 0px;

}

#CTARight p{
    display: block;
    color: white;
    font-size:3em;
    text-align: center;
    -webkit-transition: color 800ms ease-out;
    -moz-transition:color 800ms  ease-out;
    -o-transition: color 800ms  ease-out;
    transition: color 800ms  ease-out;

}

#CTARight p:hover{
    color: #e86200;
    cursor: pointer;


}


.topImage p{
    z-index: 30;
    margin-top:100px;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
    font-size: 5em;


}

.textblocks {
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    padding: 5px;
    float:left;
    width: 75%;
    margin-left: 10%;



}

.textblocks span{
    font-family: 'Rock Salt', cursive;
    font-size:2em;
    display: block;
    text-align: left;
    color: #fc9502;
    padding:20px;
    width: 40%;
    background-color: #ffff;
    border-radius: 0px 50px 0px 0px
}
.textblocks span:hover{
    color: #31ADE8;
}

.textblocks p{

    font-family: 'Roboto', sans-serif;
}

.question {
    background-image: url("..//img/YoungFuturesLogo.png");

    background-repeat: repeat;
    background-position:top;
    background-size:contain;
    background-color: #31ADE8;
    background-blend-mode: overlay;
    color: #444;
    cursor: pointer;
    padding: 0px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;
    margin-bottom:0px;
    margin-left: 0px;

}


.question.active, .question:hover {
    background-color: #308fe8;
}


.answer {
    padding: 0 18px;
    margin: 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.9s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
    font-family: 'Roboto', sans-serif;
}

.answer.show {
    opacity: 1;
    max-height: 3000px;
}

.answer img{
    width: 300px;
    height: auto;
}
